/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // 地図
 @import "bootstrap";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

 // 全体
 body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  color: #333333;
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  font-family: serif;

  // ページのタイトル
 .title {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-shadow:
 		0 0.03em 0.03em #FFAB91,
 		0 0.03em 0.03em #000,
 		0 0.03em 0.03em #FBE9E7;
}
 // 検索ページ
 .search-title {
  font-style: italic;
  font-weight: bold;
  text-shadow:
 		0 0.03em 0.03em #FFAB91,
 		0 0.03em 0.03em #000,
 		0 0.03em 0.03em #FBE9E7;
 }
 // kaminariの設定
 .pagination {
  justify-content: center;
}

  // マイページ
}
.background-image {
  position: relative;
}
.icon-image {
  position: absolute;
  left: 225px;
  top: 250px;
  color: black;
}

// お店
.shop-info {
  display: flex;
}

.detail {
 width: 400px;
 display: flex;
}
.text {
 width: 40%;
 word-break: break-all;
}
.shop-image {
  padding: 10px;
  display: flex;
}
// 地図
#map {
  height: 400px;
  width: 600px;
  color:black
}
 // レビュー部分
.review {
  color: black;
  background-color: white;
}

.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;
}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}

.average-score {
  display: flex;
}
.average-score-display {
  font-size: 16px;
}

.rating-box .ratings .fa{
  font-size: 30px;
  color:#ffcc00;
  cursor: pointer;
}

.main-rating {
  display: flex;
}

.rating-value-display {
  font-size: 20px;
}

 // モーダルウィンドウ
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0,0,0,0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 25%;
}
.close-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
}