/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // 地図
 @import "bootstrap";
 #map {
  height: 400px;
  width: 600px;
 }
 // 全体
 body {
  min-height: 100vh;
  color: white;
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  font-family: serif;

  // マイページ
}
.background-image{
 position: relative;
}
.icon-image{
 position: absolute;
 left: 225px;
 top: 250px;
 color: black;
}

// お店
.shop-info{
 padding: 10px;
}