<div class="container">
  <div class="row">
    <div class="mx-auto mt-3">
      <p class="mt-2 h5"><%= link_to "戻る", shop_path(@shop) %></p>
      <p class="mt-2 h5">料理画像</p>
      <div>
        <% @shop_images.each do |image| %>
        <%= attachment_image_tag(image, :food_image, size: '200x200', class:"ml-2 mt-2 pb-2") %>
        <% end %>
      </div>
      <p class="mt-2 h5">店舗画像</p>
      <div>
        <% @shop_images.each do |image| %>
        <%= attachment_image_tag(image, :shop_image, size: '200x200', class:"ml-2 mt-2 pb-2") %>
        <% end %>
      </div>
    </div>
  </div>
</div>

